* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    outline: none;
}

html, body, .start {
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(-100deg, #a5c6b1 0%, #f4c88c 100%);
    color: #333;
    font-size: 0.875rem;
}

.board-left-wrapper, .board-middle-wrapper, .board-right-wrapper, .board-squares-left {
    display: grid;
    background-color: #fff;
    color: #444;
}

.board-left-wrapper {
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 35px 35px 35px;
}

.board-middle-wrapper {
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px;
}

.board-right-wrapper {
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px 35px 35px;
}

.board-squares-left {
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 35px 35px;
}

.square {
    background-color: none;
    border-style: solid;
    border-color: #a5c6b1;
}

.board-square {
    height: 2.2rem;
    width: 2.2rem;
}

.circle {
    border-radius: 50%;
}

.legend-square, .circle {
    height: 2rem;
    width: 2rem;
    border-style: solid;
}

.circle {
    border-color: #555;
}

.empty-circle {
    background-color: none;
}

.filled-circle {
    background-color: #555;
}

.chosen-circle {
    font-size: 1.725rem;
    margin-left: -0.125rem;
    margin-right: -0.3rem;
}

.page-headers {
    font-size: 2.313rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.posts-header {
    background-color: #5e6464;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    height: 3.25rem;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem auto;
    max-width: 55rem;
}

.start {
    display: flex;
}

.start-form {
    border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 90%;
    width: 90%;
}

.start-title {
    color: #848694;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
    max-width: 100%;
}

.nickname-input {
    border: none;
    border-bottom: 1px solid #4154E0;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 100%;
}

.nickname-input:focus {
    border-color: #557de0;
    box-shadow: 0 1px 0 0 #557de0;
}

.start-actions {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    max-width: 10rem;
}

.start-button {
    background-color: #f4c88c;
    border: none;
    border-radius: 1.25rem;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    height: 2.375rem;
    width: 100%;
}

.start-button:hover, .start-button:focus, .start-button:active {
    background-color: #cc883e;
}

.legend {
    background-color: #FFF;
    flex: 1;
    max-width: 18rem;
}

.legend-information {
    background-color: #F6F7FE;
    /* display: flex; */
    align-items: center;
    padding: 1rem;
    /* height: 3.75rem; */
}

.legend-content {
    display: flex;
    margin-right: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.legend-content h3 {
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #848694;
    /* margin-top: 1rem; */
    margin-left: 2rem;
}

.legend-content p {
    font-size: 1.125rem;
    color: #00BFD9;
}

.main-content {
    background-color: #FFF;
    flex: 1;
    margin-right: 0.5rem;
    list-style: none;
}

.post {
    display: flex;
    min-height: 7rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
    display: flex;
    padding-right: 1rem;
}

.game-wrapper {
    height: 10rem;
    padding: 0 2rem;
    background-color: #F2FCFD;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 55.5rem) {
    .container {
        flex-direction: column;
        width: 90%;
        align-items: stretch;
    }
    .legend {
        margin-right: 0;
        /* max-width: 40%; */
    }
}