@font-face {
    font-family: Yusei;
    src: url(YuseiMagic-Regular.ttf);
}
 
* {
    box-sizing: border-box;
    outline: none;
    font-family: Yusei, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/double-bubble-dark.png");
    font-size: 0.875rem;
    color: #333;
}

.posts-header {
    align-items: center;
    height: 3.25rem;
}

.page-headers {
    display: flex;
    justify-content: center;
    font-size: 2.313rem;
    font-weight: 100;
    font-family: Yusei;
    color: #ecf0f1;
}

#container {
    display: none;
    align-items: flex-start;
    margin: 1rem auto;
    max-width: 55rem;
}

.main-content {
    flex: 1;
    list-style: none;
    border-radius: 0.5rem;
    background-color: #ecf0f1;
    margin-right: 0.5rem;
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

hr {
    background-color: #424242;
    border: 1px solid #424242;
    margin: 0.5rem 2rem 0.5rem 2rem;
}

.messages {
    color: #333;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.game-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10rem;
    padding: 0 2rem;
}

.board-left-wrapper, .board-middle-wrapper, .board-right-wrapper, .board-squares-left {
    display: grid;
    background-color: #ecf0f1;
    color: #444;
}

.board-left-wrapper {
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 35px 35px 35px;
}

.board-middle-wrapper {
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px;
}

.board-right-wrapper {
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px 35px 35px;
}

.circle-background-image {
    background-image: url("../images/rosette-gray.png");
    background-size: cover;
}

.square {
    background-color: none;
    border-style: solid;
    border-color: #424242;
}

.board-square {
    height: 2.3rem;
    width: 2.3rem;
}

.current-turn-wrapper {
    justify-content: space-around;
}

.bench h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.board-squares-left {
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 35px 35px;
}

.skip-actions {
    width: 100%;
    max-width: 10rem;
}

.legend {
    flex: 1;
    border-radius: 0.5rem;
    background-color: #ecf0f1;
    max-width: 18rem;
}

.legend .page-headers {
    color: #424242;
}

.legend .posts-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.legend-information {
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
}

.legend-content {
    display: flex;
    margin-top: 1rem;
    font-weight: 700;
}

.legend-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424242;
    font-size: 0.75rem;
    margin-left: 2rem;
}

.legend-square, .circle {
    border-style: solid;
    height: 1.85rem;
    width: 1.85rem;
}

.circle {
    border-radius: 50%;
    border-color: #424242;
}

.empty-circle {
    background-color: #fff;
}

.filled-circle {
    background-color: #000;
}

.available-circle {
    border-color: #d35400;
    background-color: #424242;
}

#start {
    display: flex;
}

#landing {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#game-results {
    border-radius: 0.5rem;
    background-color: #ecf0f1;
    width: 100%;
    max-width: 32rem;
    height: 43.9rem;
    max-height: 80%;
    margin: 1rem;
    padding: 2.5rem;
}

#leaderboard {
    width: 100%;
}

#form-and-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 1rem;
    padding-bottom: 5rem;
}

#landing-video {
    align-content: center;
}

input {
    background-color: #ecf0f1;
}

.start-form {
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #ecf0f1;
    max-height: 90%;
    width: 100%;
    max-width: 32rem;
    margin: 0;
    padding: 2.5rem;
}

.start-title {
    color: #424242;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 100%;
    margin-bottom: 3.5rem;
}

#nickname-input {
    height: 2.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #424242;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

#nickname-input:focus {
    border-color: #424242;
}

.start-actions {
    align-self: flex-end;
    width: 100%;
    max-width: 10rem;
    margin-top: 3rem;
}

.start-button {
    border: none;
    border-radius: 0.5rem;
    background-color: #424242;
    color: #ecf0f1;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    height: 2.375rem;
    width: 100%;
}

.start-button:hover, .start-button:focus, .start-button:active {
    background-color: #000;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    bottom: 0;
    color: #ecf0f1;
}

a:visited { color: #bbb; }
a:hover, a:active { color:#ffffff }

#plrID {
    display: none;
}

@media screen and (max-width: 60rem) {
    #container {
        flex-direction: column;
        align-items: stretch;
        display: "none";
        width: 90%;
    }
    .legend {
        margin-right: 0;
    }
    #landing {
        display: grid;
    }
}
